json files/flows (2).json
[{"id":"6330d97e.877788","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c3f0e07f.f20ed","type":"watson-discovery-v1","z":"6330d97e.877788","name":"watson-discovery-news","environmentname":"","environmentId":"system","collectionId":"news-en","configurationname":"","configurationId":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":"LT","discovery-method":"query","service-endpoint":"https://api.us-south.discovery.watson.cloud.ibm.com/instances/e64e70af-bfb4-4912-af9b-08c0d197daf0","x":370,"y":280,"wires":[["2a8fcc8a.e5c464","f431643a.a84788","7a04a729.3bf6b8","ec73db18.439748","7e27a89.130df58","af9cf874.280188","a47dc453.958608"]]},{"id":"ac773118.bc62c","type":"function","z":"6330d97e.877788","name":"","func":"msg={\ndiscoveryparams:\n  {\n\"environment_id\":\"system\",\n\"query\":msg.payload.input\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["c3f0e07f.f20ed"]]},{"id":"2a8fcc8a.e5c464","type":"debug","z":"6330d97e.877788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":200,"wires":[]},{"id":"f431643a.a84788","type":"function","z":"6330d97e.877788","name":"author","func":"msg.payload=msg.search_results.results[0].author\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["1a6f498a.88ad66"]]},{"id":"1a6f498a.88ad66","type":"ui_text","z":"6330d97e.877788","group":"701e1d52.4fa8c4","order":5,"width":"13","height":"4","name":"","label":"Author","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":300,"wires":[]},{"id":"7a04a729.3bf6b8","type":"function","z":"6330d97e.877788","name":"main page url","func":"msg.payload=msg.search_results.results[0].main_image_url\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["77a55fc0.3f6d9"]]},{"id":"ec73db18.439748","type":"function","z":"6330d97e.877788","name":"url","func":"msg.payload=msg.search_results.results[0].url\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":380,"wires":[["94a605ca.2d8b78"]]},{"id":"af9cf874.280188","type":"function","z":"6330d97e.877788","name":"score","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.score\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["d2a20e63.6fa95"]]},{"id":"7e27a89.130df58","type":"function","z":"6330d97e.877788","name":"label","func":"msg.payload=msg.search_results.results[0].enriched_text.sentiment.document.label\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":460,"wires":[["d179332f.28be3"]]},{"id":"77a55fc0.3f6d9","type":"ui_text","z":"6330d97e.877788","group":"701e1d52.4fa8c4","order":3,"width":"13","height":"2","name":"","label":"main page url","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":340,"wires":[]},{"id":"94a605ca.2d8b78","type":"ui_text","z":"6330d97e.877788","group":"701e1d52.4fa8c4","order":4,"width":"13","height":"2","name":"","label":"url","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":380,"wires":[]},{"id":"d2a20e63.6fa95","type":"ui_gauge","z":"6330d97e.877788","name":"","group":"701e1d52.4fa8c4","order":6,"width":0,"height":0,"gtype":"gage","title":"Sentiment score","label":"units","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":420,"wires":[]},{"id":"d179332f.28be3","type":"ui_text","z":"6330d97e.877788","group":"701e1d52.4fa8c4","order":8,"width":"13","height":"2","name":"","label":"label","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":460,"wires":[]},{"id":"f5a101ec.fed9f","type":"ui_text","z":"6330d97e.877788","group":"701e1d52.4fa8c4","order":1,"width":"13","height":"4","name":"","label":"results","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"784182b9.bb02cc","type":"debug","z":"6330d97e.877788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":200,"wires":[]},{"id":"a47dc453.958608","type":"function","z":"6330d97e.877788","name":"text","func":"msg.payload=msg.search_results.results[0].text\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["f5a101ec.fed9f","784182b9.bb02cc","e8a20df5.15665"]]},{"id":"b6a0c4d5.833748","type":"debug","z":"6330d97e.877788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":460,"wires":[]},{"id":"e8a20df5.15665","type":"sentiment","z":"6330d97e.877788","name":"","property":"payload","x":260,"y":480,"wires":[["b6a0c4d5.833748","d0e991b.2e1b47","a4b8e367.1cad4","f28b76b6.8824f8"]]},{"id":"c37d893b.3b60b8","type":"ui_chart","z":"6330d97e.877788","name":"","group":"701e1d52.4fa8c4","order":4,"width":"4","height":"4","label":"Sentiment score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#8000ff","#aec7e8","#ff7f0e","#3d9438","#98df8a","#d62728","#ff9896","#c55fba","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":600,"wires":[[]]},{"id":"9ac58f62.99775","type":"ui_chart","z":"6330d97e.877788","name":"","group":"701e1d52.4fa8c4","order":4,"width":"4","height":"4","label":"Positive score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2fa432","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":680,"wires":[[]]},{"id":"1ad6c287.c2f97d","type":"ui_chart","z":"6330d97e.877788","name":"","group":"701e1d52.4fa8c4","order":4,"width":"4","height":"4","label":"Negative score","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ca1345","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c62424","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":760,"wires":[[]]},{"id":"d0e991b.2e1b47","type":"function","z":"6330d97e.877788","name":"","func":"msg.payload=msg.sentiment.score;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":600,"wires":[["c37d893b.3b60b8"]]},{"id":"a4b8e367.1cad4","type":"function","z":"6330d97e.877788","name":"","func":"for(var i=0;i<1;i++)\n{\nmsg.payload=msg.sentiment.positive.length;\nmsg.payload=msg.sentiment.negative.length;\nreturn msg;\n}","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["1ad6c287.c2f97d"]]},{"id":"f28b76b6.8824f8","type":"function","z":"6330d97e.877788","name":"","func":"msg.payload=msg.sentiment.positive.length;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":680,"wires":[["9ac58f62.99775"]]},{"id":"6983c67f.f76d48","type":"ui_form","z":"6330d97e.877788","name":"","label":"","group":"701e1d52.4fa8c4","order":0,"width":"13","height":"10","options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["ac773118.bc62c"]]},{"id":"701e1d52.4fa8c4","type":"ui_group","z":"","name":"AI NEWS search APP","tab":"505d5087.96dcf","order":1,"disp":true,"width":"13","collapse":false},{"id":"505d5087.96dcf","type":"ui_tab","z":"","name":"Search News","icon":"search","disabled":false,"hidden":false}]