json files/flows (3).json
[{"id":"7bb2ac81.ff78a4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8a0589a2.8ddc78","type":"ui_button","z":"7bb2ac81.ff78a4","name":"","group":"418e6a09.b93314","order":0,"width":"14","height":"1","passthru":false,"label":"Click to get Trending NEWS from NDTV.com","tooltip":"From NDTV.com","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":60,"wires":[["306f8993.c57666"]]},{"id":"306f8993.c57666","type":"http request","z":"7bb2ac81.ff78a4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.ndtv.com/trends","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":100,"wires":[["ae075bf8.19d748","1890d2a6.8c87cd"]]},{"id":"ae075bf8.19d748","type":"http response","z":"7bb2ac81.ff78a4","name":"","statusCode":"","headers":{},"x":670,"y":140,"wires":[]},{"id":"85df81df.ac4d","type":"http in","z":"7bb2ac81.ff78a4","name":"ndtv","url":"https://www.ndtv.com/trends","method":"get","upload":false,"swaggerDoc":"","x":210,"y":180,"wires":[["306f8993.c57666"]]},{"id":"1890d2a6.8c87cd","type":"ui_text","z":"7bb2ac81.ff78a4","group":"418e6a09.b93314","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":220,"wires":[]},{"id":"418e6a09.b93314","type":"ui_group","z":"","name":"Trending NEWS","tab":"49639ec2.194bc","order":1,"disp":true,"width":"14","collapse":false},{"id":"49639ec2.194bc","type":"ui_tab","z":"","name":"Trending","icon":"fa-bolt","disabled":false,"hidden":false}]